*,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
main{
    width: 1200px;
    height:100%;
    margin: 0 auto;
}
/*************从这里开始**********************/
.sever{
    width: 980px;
    height: auto;
	float: left;
}
.sever-top{
    width: 978px;
    height:36px;
    border:1px solid #eee;
    background: #f6f6f6;
    line-height:36px;
    font-size: 12px;
    color: #5e5e5e;
    font-weight: 600;

}.sever-top>span{
    margin-left: 25px;
 }
.sever-bottom{
    width: 100%;
    height: auto;
    padding-top: 30px;
}
.sever-bottom-main{
    width: 844px;
    height: auto;

    margin: 0 auto;
}

.sever-bottom-main-top{
    width: 100%;
    height: 34px;
    background: #fafafa;
}
.sever-bottom-main-top span{
    line-height: 34px;
    margin-left: 23px;
    font-size: 11px;
    color: #5e5e5e;
    font-weight: 600;
}
.describe{
    width: 803px;
    padding: 30px 14px;

    height: 63px;
}

.describe i{
    width: 38px;
    height: 40px;
    display: inline-block;
    float: left;
    background: url("../img/bg-sprite.png") no-repeat 0 -1120px;
}
.describe p{
    width: 752px;
    display: inline-block;
    float: left;
    font-size: 13px;
    color: #333333;
    margin-left: 10px;
    letter-spacing: 0.20px;
}
.describes{
    width: 803px;
    padding: 30px 14px 0 14px;
    height: auto;
    overflow: hidden;
}
.describes li{
    margin-bottom: 25px;
    width: 100%;
    height:auto;
    overflow: hidden;
}
.describes li i{
    display: inline-block;
    width: 23px;
    height: 26px;
    float: left;
}
.describes li:first-child i{
    background: url("../img/bg-sprite.png") no-repeat 0 -1336px;
}
.describes li:nth-child(2) i{
    background: url("../img/bg-sprite.png") no-repeat 0 -1370px;
}
.describes li:nth-child(3) i{
    background: url("../img/bg-sprite.png") no-repeat 0 -1405px;
}

.describes li h5{
    color: #666;
    height: auto;
    overflow: hidden;
    padding-left: 10px;
}
.describes li p{
    width: auto;
    overflow: hidden;
    color: #666;
    line-height:1.8;
    padding-left: 10px;
    font-size: 11px;
}
.describes li p a{
    color: #006699;
}
.describes li span{
    margin-left: 32px;
    font-size: 11px;
    line-height:1.5;
    margin-top: 10px;
    color: #a5a5a5;
    display: inline-block;
}
.describes1{
	width: auto;
	height: auto;
/*	用来撑开高度*/
	padding-top: 30px;
	overflow: hidden;
}
.describes1 ul li{
	float: left;
	margin-left: 60px;
}
#describes1-body{
	font: 14px/24px 'Microsoft YaHei';
	color: #5e5e5e;
}
.pdt1-s{
	width:1400px;
	padding: 0 0 10px 22px;
	line-height: 20px;
	color: #333;
	border-bottom: 1px solid #E6E6E6;
	margin-top: 60px;
}
/*热门链接部分*/
.remenlianjie{
	width: 940px;
	height: 102px;
	overflow: hidden;
	margin: 10px 20px 15px;
	font-family: 'Microsoft Yahei';
	/*background: #006699;*/
}
.remen{
    font: 14px 'Microsoft YaHei';
    font-weight: normal;
    color: #5E5E5E;
    font-weight: bolder;
    margin: 16px 0 19px;
}
.huaweicangxiang{
	padding-left: 20px;
	overflow: hidden;
}
.huaweicangxiang a{
	width: 170px;
	line-height: 24px;
	font-family: arial,'Microsoft YaHei';
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 10px;
	color: #5e5e5e;
	text-decoration: none;
	cursor: pointer;
	font-weight: 400;
	font: 12px/1.5 arial,Microsoft YaHei;
}

/*商品评价部分*/
.shangpingpingjia{
	width: 980px;
	height: 1692px;
	margin-top: 40px;
	margin-bottom: 10px;
	font: 12px/1.5 arial,Microsoft YaHei;
}
.ds-hd{
	height: 36px;
	background-color: #f6f6f6;
	border: 1px solid #eee;
	overflow: hidden;
}
.ds-hd li{
	float: left;
	height: 32px;
}
.ds-hd li.cur2 a, .ds-hd li.cur2 a:hover {
    color: #666;
}
.ds-hd li a {
    float: left;
    display: block;
    padding: 0 20px;
    color: #666;
    cursor: default;
    font-weight: 700;
    font-family: NSimSun;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
}
.ds-hd-active{
	width: 980px;
	height: 126px;
}
.sorceOut {
	width: 980px;
    height: 126px;
    padding: 17px 0 14px 65px;
    display: block;
}
.sor {
    width: 330px;
    float: left;
    display: inline;
}
.sper{
	float: left;
    display: inline;
    font: 12px/1.5 arial,Microsoft YaHei;
}
.sper span {
    font-size: 48px;
    color: #e3101e;
    font-family: Arial;
    height: 48px;
    overflow: hidden;
}
.sper b {
    color: #e3101e;
    font-size: 20px;
}
.sper em {
    color: #a5a5a5;
    text-indent: 15px;
    margin-top: -15px;
    display: block;
    font: 12px/1.5 arial,Microsoft YaHei;
}
.gmb {
    margin-right: 30px;
    margin-top: 12px;
    float: right;
	display: inline;
}
.gmb span {
    color: #a5a5a5;
    margin: 0 10px 0 7px;
    display: inline-block;
    width: 35px;
}
.gmb em {
    display: inline-block;
    height: 10px;
    width: 100px;
    background: #f3f3f3;
    position: relative;
    top: 2px;
}
.gmb b {
    display: block;
    position: absolute;
    height: 10px;
    background: #e3101e;
    left: 0;
    top: 0;
}
.spot {
    width: 338px;
    height: auto;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    padding: 0 22px;
    float: left;
	display: inline;
}
.spot p {
    color: #a5a5a5;
    font-weight: 700;
}
.comt {
    padding: 20px 0 0 30px;
    width: 160px;
    float: left;
	display: inline;
}
.fabiaopinglun{
	background: #e3101e;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
}
.comt span {
    color: #a5a5a5;
    font: 12px/1.5 arial,Microsoft YaHei;
}
.comt span a {
    color: #069;
    display: inline;
    background: #fff;
    margin: 0;
    width: auto;
}
.comt a{
	height: 26px;
	text-align: center;
	line-height: 26px;
	padding: 0 10px;
	text-decoration: none;
	cursor: pointer;
}

/*全部评论*/
.quanbupinglun{
	background-color: #fafafa;
    line-height: 30px;
    border: 1px solid #f5f5f5;
    position: relative;
}
.quanbupinglun label{
	padding-left: 7px;
	margin-right: 50px;
	font-weight: 700;
	cursor: pointer;
}
.quanbupinglun span{
	color: #666;
}
#zhikandangqian{
	border-left: 1px solid #a5a5a5;
	padding-left: 7px;
	margin-right: 16px;
	font-weight: 700;
	cursor: pointer;
}
#zhikandangqian:hover{
	color: red;
}
.quanbupinglun>label>span:hover{
	color: red;
}

/*买家评论*/
.maijiapinglun{
	width: 980px;
	height: 1543px;
	margin-top: 10px;
	display: block;
	/*background: #006699;*/
}
.display{
	list-style: none;
}
.display li{
	padding: 25px 0;
	border-bottom: 1px solid #f3f3f3;
	position: relative;
}
.oh{
	overflow: hidden;
}
.display-left{
	padding: 0 42px;
	width: 100px;
	float: left;
}
.yipaixingxing{
	float: none;
	display: block;
	margin-bottom: 7px;
	width: 85px;
	height: 33px;
	position: relative;
	display: inline-block;
	background: url(../img/2017-10-03_113610.png);   
	background-position: 0 -980px;
}
.yipaixingxing b{
	display: inline-block;
	height: 15px;
	background: url(../img/2017-10-03_113610.png);
	background-position: 0 -1005px;
}
.display li p{
	padding: 2px 0;
	/*max-width: 100px;*/
	word-wrap: break-word;
	word-break: break-all;
	color: #5e5e5e;
}
.display li p a{
	text-decoration: none;
	cursor: pointer;
	outline: 0;
	font-weight: 400;
	color: #5e5e5e;
}
.display li p span{
	display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 100px;
}
.display-center{
	width: 578px;
	padding: 0 10px;
	float: left;
	font: 12px/1.5 arial,Microsoft YaHei;
}
.shiiyongxinde{
	word-wrap: break-word;
    word-break: break-all;
    line-height: 22px;
}
.shiiyongxinde em{
	font-style: normal;
	color: #5a5a5a;
	text-align: right;
	display: inline-block;
}

.display-right{
	padding: 0 40px;
	width: 118px;
	float: left;
}
.display-right-photo{
	margin-bottom: 4px;
	margin-left: 0;
	width: auto;
	text-align: left;
}
.display-right-photo img{
	width: 30px;
    height: 30px;
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle;
}
.chusan{
	display: inline-block;
    vertical-align: middle;
    max-width: 74px;
    width: 74px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    color: #888;
}
.huiyuan{
	color: #e3101e;
	margin-right: 7px;
}
.beijing{
	color: #888;
	font: 12px/1.5 arial,Microsoft YaHei;
}

/*购买咨询*/
.goumaizixun{
	width: 980px;
	height: 800px;
	/*background: #0000FF;*/
	margin-top: 180px;
	margin-bottom: 10px;
	border: 1px solid #eee;
}
.gouumaizixun-top{
	border-bottom: 1px solid #eee;
	height: 36px;
    background-color: #f6f6f6;
    border: 1px solid #eee;
    overflow: hidden;
    list-style: none;
}
.gouumaizixun-top li{
	float: left;
	height: 32px;
}
.gouumaizixun-top li a{
	color: #666;
    background-color: transparent;
    float: left;
    display: block;
    padding: 0 20px;
    color: #666;
    cursor: default;
    font-weight: 700;
    font-family: NSimSun;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
}
.goumaizixun-body{
	
}
.goumaizixun-body1{
	padding: 13px 10px 20px;
	color: #5E5E5E;
	display: block;
}
.goumaizixun-body1-left{
	float: left;
    display: inline;
    margin: 6px 0 0 30px;
    padding: 0 0 12px;
    width: 400px;
    border-right: 1px solid #F3F3F3;
    line-height: 22px;
    color: #5E5E5E;
}
.sousuoxiangguanzixun{
	margin-bottom: 20px;
	line-height: 22px;
	color: #5E5E5E;
}
.tit{
	padding: 0px 0px 7px;
}
.sousuoshurukuang{
	position: relative;
	width: 200px;
	height: 24px;
	border: 1px solid #CCC;
	line-height: 24px;
	color: #5E5E5E;
}
#tet{
	float: left;
	padding: 3px 5px;
	width: 145px;
	color: #333;
	border: 0 none;
	outline: 0 none;
	line-height: 18px;
	font-size: 100%;
	font: 12px/1.5 arial;
}
#btn1{
	/*float: left;*/
	margin-left: 56px;
	width: 44px;
	height: 24px;
	background: #F8F8F8;
	border: 0 none;
	outline: 0 none;
	color: #333;
	cursor: pointer;
	text-align: center;
}
.goumaizixun-body1-left2{
	width: 400px;
	height: 96px;
	display: block;
}
.goumaizixun-body1-left2 dt{
	padding: 4px 0;
	font-weight: 700;
	line-height: 22px;
}
.goumaizixun-body1-left2 dd{
	float: left;
	width: 190px;
	height: 22px;
	overflow: hidden;
}
.goumaizixun-body1-left2 a{
	padding-left: 4px;
	color: #666;
	font: 400 12px/22px NSimSun;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
.goumaizixun-body1-left2 a:hover{
	text-decoration: underline;
	color: red;
}
.goumaizixun-right{
	width: 498px;
	height: 220px;
	float: left;
	margin-left: 20px;
	color: #5E5E5E;
}
.goumaizixun-right table{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}
.goumaizixun-right table caption{
	padding-left: 2px;
	color: #5E5E5E;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
}
.th{
	color: #666;
	text-align: left;
	padding-left: 2px;
	font-family: NSimSun;
	line-height: 26px;
	vertical-align: top;
}
.cst-type {
    margin-right: 10px;
    color: #5E5E5E;
}
.cst-type input {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 100%;
    font: 12px/1.5 arial,"\65b0\5b8b\4f53";
}

#zixun{
	color: #666;
   /* text-align: left;*/
   /* padding-left: 2px;*/
    font-family: NSimSun;
    line-height: 26px;
	vertical-align: top;
}
.neirong{
	position: relative;
}
.tte{
	display: block;
	margin: 6px 0 10px;
	padding: 5px 10px;
	width: 395px;
	height: 88px;
	border: 1px solid #CCC;
	color: #333;
	font-size: 12px;
	line-height: 22px;
	resize: none;
	font: 12px/1.5 arial,"\65b0\5b8b\4f53";
}
#how{
	position: absolute;
	left: 10px;
	top: 5px;
	color: #A5A5A5;
	cursor: text;
	line-height: 22px;
}   
.cst-type:hover{
	color: red;
}
#gm-submit{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#gm-submit th{
	color: #666;
    text-align: left;
    padding-left: 2px;
    font-family: NSimSun;
}
#gm-submit td{
	line-height: 26px;
    vertical-align: top;
}
#gm-submit a{
	background: #e3101e;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
}
.tips{
	    color: #A5A5A5;
}

/*全部咨询*/
.consult-types {
	margin-top: 220px;
    margin-bottom: 5px;
    height: 32px;
    background: #F3F3F3;
    line-height: 32px;
}
#cst-type1{
  color: red;
}
#cst-type2:hover{
	color: #5E5E5E;
}

.zixun-body{
	margin: 0 10px;
    color: #5E5E5E;
    display: block;
}
.zixun-body li{
	padding: 20px 10px;
    line-height: 22px;
    zoom: 1;
    display: block;
}
.zixun-body dt{
	float: left;
    font: 700 12px/22px "microsoft yahei";
}
.zixun-body dd{
	overflow: hidden;
}
.time{
	float: right;
    padding-left: 15px;
    color: #999;
    line-height: 22px;
}
.name{
	float: right;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    text-align: right;
}
.con{
	display: block;
    width: 600px;
    color: #666;
}
.con a{
	color: #666;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}
.ques{
	display: block;
}
.ques dt{
	float: left;
    font: 700 12px/22px "microsoft yahei";
}
.ques con{
	display: block;
    width: 600px;
    color: #666;
}

/*到这里结束嵌套到右侧框内部*/


/*根据浏览彩泥喜欢*/
.like{
    width: 100%;
    height: 255px;
    margin-bottom: 10px;
	float: left;
}

.like-main{
    width:1198px;
    height:253px;
    border:1px solid #eeeeee;
}
.change{
    display: inline-block;
    float: right;
    margin-right: 10px;
    clear: both;
}
.change>p{
    display: inline-block;
    float: left;
 }
.change>i{
    display: inline-block;
    width: 18px;
    height:18px;
    margin: 0 5px;
    background: url("../img/bg-sprite.png") no-repeat 0 -1049px;
    line-height:42px;
    margin-top: 10px;
    float: left;
}
.like-main-bottom{
    width: 96%;
    height: 198px;
    padding:10px 2%;
}
.like-main-bottom li{
    width: 186px;
    float: left;
    margin-right:6px;
}
.like-main-bottom li:last-of-type{
    margin: 0;
}
.like-li-img{
    width:130px;
    height:130px;
    margin: 0 auto;
}
.like-li-img img{
    width: 100%;
}
.like-main-bottom li p:first-of-type{
    font-size: 11px;
    color: #666;
    letter-spacing: 0.28px;
    text-align:left;    
}
.like-main-bottom li p:first-of-type:hover{
	text-decoration: underline;
	color: red;
}
.like-main-bottom li p:nth-of-type(2){
    font-size: 13px;
    color: #e3101e;
    font-weight:600;
    margin-top: 5px;

}








/*最近浏览*/
.recent-look{
    width: 100%;
    height: 194px;
	
	float: left;

}
.recent-look-main{
    width: 1198px;
    height: 192px;
    border: 1px solid #e8e8e8;
}
.look-main-top{
    width: 100%;
    height: 36px;
    background: #f6f6f6;
    color: #333333;
    line-height:36px;
    font-size: 11px;
}
.look-main-bottom{
   width: 100%;
    height:176px;

}

.look-main-bottom li{
    display: inline-block;
    width: 116px;
    margin: 10px 0 0 20px;
}

.look-main-bottom li .li-img{
    width: 76px;
    margin-left: 20px;
    height: 76px;
}

.look-main-bottom li .li-img img{
    width: 100%;
    height: 100%;
}
.look-main-bottom li p a{
    font-size: 12px;
    line-height: 10px;
    color: #5e5e5e;
    letter-spacing: 0.1px;
}
.look-main-bottom li p.money{
    font-size: 11px;
    color: #e3101e;
    font-weight: 600;
}
.look-main-bottom li p{
    width: 100%;
    text-align: center;

}

.look-main-bottom li p a:hover{
    text-decoration: underline;
}






    /*help*/
.help{
    width: 100%;
    height:235px;
    padding-top: 15px;
	float: left;
}
.help-top{
    height:42px;
    padding:15px 0;
    width: 100%;
    background: #f5f5f5;
}
.help-top li{
    padding-left: 5%;
    width: 28%;
    height: 100%;
    float: left;
    text-align: center;
}
.help-top>li>i{
    display: inline-block;
    width: 40px;
    height:40px;
    margin-right: 2px;
    float: left;
}

.help-top>li>span{
    display: inline-block;
    padding: 0 8px;
    line-height:42px;
    float: left;
}
.help-top>li>a{
    display: inline-block;
    float: left;
    line-height:42px;
}
.help-top>li:first-child i{
    background: url("../img/ui.png") no-repeat 0 -1470px;
}
.help-top>li:nth-child(2) i{
    background: url("../img/ui.png") no-repeat -39px -1470px;
}
.help-top>li:nth-child(3) i{
    background: url("../img/ui.png") no-repeat -79px -1470px;
}
.help-bottom{
    height:145px;
    width: 100%;
    background: #fff;
    padding-top: 20px;
}

.help-bottom>dl{
    width: 15%;
    padding-left:5%;
    float: left;
}
.help-bottom>dl>dt{
    font-size: 16px;
    color: #5e5e5e;
    font-weight: 400;
}
.help-bottom>dl>dd{
    font-size: 11px;
    line-height: 1.9;
    color: #a5a5a5;
    cursor: pointer;
    
}
.help-bottom>dl>dd:hover{
    color: #f5004b;
}

/*footer*/
footer{
    width:100%;
    height:255px;
    border-top:1px solid #dd00a7;
    padding-top:15px;
    background: #f7f7f7;
	float: left;
}

.footer-main{
    width: 1200px;
    height:100%;
    margin: 0 auto;
}
.footer-main>i{
    display: block;
    width: 45px;
    height: 45px;
    float: left;

}
.footer-main>i:first-of-type{
    background: url("../img/ui.png") no-repeat 0 -136px ;
}
.footer-main>i:nth-of-type(2){
    background: url("../img/ui.png") no-repeat -45px -136px;
}
.footer-main .span{
    display: block;
    float: left;
    padding:0 50px 40px 5px;
}
.footer-main .span a{
    color: #999999;
    font-size: 12px;
}
.footer-main .span a:hover{
    color: #f5004b;
}
.footer-main .span strong{
    display: block;
}

.qrcode-section{
    width: 250px;
    height:112px;
    float: right;
}
.qrcode-section span{
    width: 50px;
    height: 47px;
    display: block;
    float: left;
    padding:0 8px;
}
.qrcode-section span:nth-of-type(3){
    width: 90px;
    height:110px;
    display: block;
    float: left;
}
.qrcode-section span:first-of-type i{
    display: block;
    width: 40px;
    height: 25px;
    background: url("../img/ui.png") no-repeat -106px -135px;
}
.qrcode-section span:nth-of-type(2) i{
    margin-left: 2px;
    display: block;
    width: 40px;
    height: 25px;
    background: url("../img/ui.png") no-repeat -184px -135px;
}
.qrcode-section span:nth-of-type(3) i{
    display: block;
    width: 90px;
    height: 90px;
    background: url("../img/T1sIDvB7hj1RCvBVdK.jpg") no-repeat ;
}
.qrcode-section span p{
    margin-top: 0;
    font-size: 11px;
    color: #999;
}


/*UL*/
.ul{
    width: 100%;
    float: left;
    height:15px;
    margin-top: -20px;
}
.ul ul{
    width: 100%;
    height: 100%;
    
}
.ul ul li{
    width: auto;
    height:100%;
    float: left;
    padding: 0 5px;
    font-size: 12px;
    color: #d4ccd4;
}
.ul ul li:first-child{
    padding-left: 0;
}
.ul ul li a:hover{
    color: #f5004b;
}
.ul ul li a{
    color: #666;
    font-size: 12px;
    text-decoration: none;
}



.footer-main p{
    width: 100%;
    font-size: 12px;
    color: #999;
    float: left;
    margin-top: 10px;
}
.footer-main p a{
    color: #999;
}
.footer-main hr{
    color: #e6e6e6;
    background: #e6e6e6;
    border:none;
    height: 1px;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.footer-ul{
    float: left;
}
.footer-ul>li{
    float: left;

}
.footer-ul>li>a>i{
    margin-top: 5px;
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
}
.footer-ul>li>a>b{
    padding-top: 10px;
    display: inline-block;
    font-weight: 100;
    font-size: 11px;
    color: #999;
    margin-top: -3px;
    width: 115px;
    float: left;

}
.footer-ul>li:first-child a i{
    background: url("../img/ui.png") no-repeat 0 -180px;
}
.footer-ul>li:nth-child(2) a i{
    background: url("../img/ui.png") no-repeat -36px -180px;
}
.footer-ul>li:nth-child(3) a i{
    background: url("../img/ui.png") no-repeat -70px -180px;
}
.footer-ul>li:nth-child(4) a i{
    background: url("../img/ui.png") no-repeat -106px -180px;
}
.footer-ul>li:nth-child(5) a i{
    background: url("../img/ui.png") no-repeat -140px -180px;
}
.footer-ul>li:nth-child(6) a i{
    background: url("../img/ui.png") no-repeat -174px -180px;
}


















